:root {
  --font-main: "Teko", sans-serif;
  --bg-color: #0d0d0d; /* Negro casi puro */
  --text-color: #e0e0e0;
  --accent-color: #00f3ff; /* Azul ciberpunk neón */
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: sans-serif; /* Fuente base para textos largos */
}

/* Títulos con tu fuente TEKO */
h1, h2, .subtitle {
  font-family: var(--font-main);
  text-transform: uppercase;
  margin: 0;
}

.portfolio-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

header {
  text-align: center;
  margin-bottom: 60px;
}

h1 {
  font-size: 5rem; /* Título gigante */
  line-height: 0.9;
  color: var(--accent-color);
}

.subtitle {
  font-size: 2rem;
  letter-spacing: 2px;
  opacity: 0.8;
}

/* La Cuadrícula (Grid) */
.gallery-grid {
  display: grid;
  /* Esto crea columnas automáticas que se adaptan al tamaño de pantalla */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

/* Tarjetas */
.card {
  background: #1a1a1a;
  padding: 15px;
  border: 1px solid #333;
  transition: transform 0.3s ease;
}

.card:hover {
  border-color: var(--accent-color); /* Borde neón al pasar el mouse */
}

.image-box img {
  width: 100%;
  height: 250px;
  object-fit: cover; /* Recorta la imagen para que no se deforme */
  border-radius: 4px;
  filter: grayscale(40%); /* Un toque artístico desaturado */
}

.card:hover .image-box img {
  filter: grayscale(0%); /* Vuelve a color al pasar el mouse */
}

.card h2 {
  font-size: 2.5rem;
  margin-top: 15px;
}
/* Excepción para cuando la imagen es un icono */
.image-box img.icono {
  object-fit: contain; /* No recortar */
  padding: 20px;       /* Darle aire alrededor */
  background-color: #222; /* Opcional: un fondo un poco más claro para resaltar el icono */
}

